.contact-button {
    background-color: #074B9E;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  .contact-button:hover {
    background-color: #0866da;
  }
  
  .contact-button.active {
    background-color: #84a8d4;
    color: white;
  }
  