.custom-table {
    width: 1000px;
    border-collapse: collapse;
    border: 2px solid #010330;
}

.custom-table th, .custom-table td {
    border: 1px solid #010330;
    padding: 20px;
    text-align: left;
}

.custom-table th {
    background-color: #010330;
    color: #ffff;
    font-weight: bold;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #97979b;
}

.custom-table tbody tr:hover {
    background-color: #ddd;
}

@media (max-width: 1004px){
    .custom-table th, .custom-table td {
        padding: 10px;
        text-align: left;
    }
    .custom-table {
        width: 600px;
        border-collapse: collapse;
    }
}